header {
	margin-top: 20px;
}

.main {
	background-color: #55c8e6;
	min-height: 600px;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

	.main.search-active {
		background-color: #f2f2f2;
		-webkit-transition: background-color 500ms linear;
		-moz-transition: background-color 500ms linear;
		-o-transition: background-color 500ms linear;
		-ms-transition: background-color 500ms linear;
		transition: background-color 500ms linear;
	}

#search {
	margin-top: 40px;
}

.inline-list>li {
	margin-left: 5px;
}

.icons ul li {
	background-image: url(../images/allicons.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.cart {
	background-position: 0 0;
	height: 26px;
	width: 148px;
}

.currency {
	background-position: -155px 0;
	height: 26px;
	width: 75px;
}

.account {
	background-position: -230px 0;
	height: 26px;
	width: 58px;
}

.icons ul li.close {
	background-image: none;
}

.search {
	background-position: 100% 100%;
	height: 26px;
	width: 30px;
}

.no-result {
	color: #919395;
	border: solid 1px #d0d1d2;
	padding: 10px;
}

footer {
	background-color: #2d2d2e;
	padding-top: 15px;
}
	.links {
		display: inline-block;
	}

		.links li a {
			color: #757575;
		}
	hr {
		border: solid 1px #58585a;
	}

/* Foundation override */
span.postfix {
	background: #fff;
	border-left: none;
	cursor: pointer;
}

input[type="text"] {
	border-right: none;
	box-shadow: none;
	font-size: 20px;
}

input[type="text"], .postfix {
	height: 65px;
	line-height: 65px;
}

.hidden {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}
